
.titulo{
    border: 1px sandybrown solid;
    text-align: center;
}
.header{
    border: 2px blue solid;
    text-align: center;
    color: blue;
}
.footer{
    border: 1px solid rebeccapurple;
    color: rgb(28, 90, 90);
    text-align: center;
}